{% extends 'base.html.twig' %}

{% block title %}Список сеансов{% endblock %}

{% block body %}

        {{ include('/film_session/banner/_banner.html.twig') }}

        <h1>Список клиентов</h1>

        <table class="table">
            <thead class="table__head">
                <tr>
                    <th>Имя клиента</th>
                    <th>Сеанс</th>
                    <th>Телефон</th>
                </tr>
            </thead>
            <tbody class="table__body">
                {% for filmSession in filmSessions %}
                    {% for ticket in filmSession.tickets %}
                            <tr>
                                <td>{{ ticket.client.name|trim|title }}</td>
                                <td>
                                    Название: {{ ticket.filmSession.filmTitle }},
                                    Дата/время начала сеанса: {{ ticket.filmSession.filmStartAt|date('d.m.Y') }}/{{ filmSession.filmStartAt|date('H:i') }},
                                    Продолжительность: {{ ticket.filmSession.filmDuration|date('%i минут') }}
                                </td>
                                <td>{{ ticket.client.phone|phone }}</td>
                            </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

    {{ include('/film_session/menu/_menu.html.twig') }}
{% endblock %}
