{% extends 'base.html.twig' %}

{% block title %}Список сеансов{% endblock %}

{% block body %}

    {{ include('/film_session/banner/_banner.html.twig') }}
    <h1>Список сеансов</h1>
<div class="film-wrapper">
    {% for filmSession in filmSessions %}
        <div class="film-container">
            <div class="film-container__title">
                {{ filmSession.filmTitle }}
            </div>
            <div class="film-container__content">
                <ul>
                    <li>Дата сеанса: {{ filmSession.filmStartAt|date('Y.m.d') }}</li>
                    <li>Время начала: {{ filmSession.filmStartAt|date('H:i') }}</li>
                    <li>Время окончания: {{ filmSession.FilmEndAt|date('H:i') }}</li>
                </ul>
                <p class="number_of_seats">Кол-во свободных мест: {{ filmSession.countOfTicketsAvailable }}</p>
            </div>
            <div class="film-container__button">
                <a href="{{ path('film_session', { id: filmSession.filmSessionId }) }}">Выбрать</a>
            </div>
        </div>
    {% endfor %}
</div>

    {{ include('/film_session/menu/_menu.html.twig') }}
{% endblock %}
