{% extends 'base.html.twig' %}

{% block title %}Забронировать билет на фильм {{ filmSession.filmTitle }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ filmSession.filmTitle }}</h1>

    <ul>
        <li>Продолжительность сеанса: {{ filmSession.filmDuration|date('%i минут') }}</li>
        <li>Дата сеанса: {{ filmSession.filmStartAt|date('Y.m.d') }}</li>
        <li>Вермя начала: {{ filmSession.filmStartAt|date('H:i') }}</li>
        <li>Время окончания: {{ filmSession.FilmEndAt|date('H:i') }}</li>
        <li>Кол-во свободных мест: {{ filmSession.countOfTicketsAvailable }}</li>
    </ul>

    <h2>Забронировать</h2>

    {% if filmSession.countOfTicketsAvailable >= 1 %}

        {{ form(form) }}

        {% else %}

            <p>Билетов не осталось</p>
            <p>Выберите другой <a href="{{ path('film_sessions') }}">сеанс</a></p>

    {% endif %}

</div>
{% endblock %}
